.order-section-container {
  display: grid;
  overflow-y: auto;
  padding: 0 16px;
  grid-template-rows: auto auto 10fr auto;
}

.order-title_section {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.order-title_section > p {
  font-size: 28px;
  font-weight: bold;
  align-content: center;
  margin: 0;
}

.order-title_section > span {
  width: 20px;
}
.order-title_section > h1 {
  margin: 0;
}
.arrow-div {
  min-height: 20px;
  max-height: 20px;
}

.tables-arrow--true {
  display: block;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.tables-arrow--true:hover {
  transform: scale(1.2);
}

.tables-arrow--false {
  display: none;
}

.order-list-container {
  gap: 2px;
  overflow-y: auto;
}
.order-list {
  scrollbar-width: none;
  display: flex;
  overflow-y: auto;
  flex-direction: column;

  gap: 4px;
}
.order-list__item {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  background-color: var(--light-bg-color);

  border-radius: 8px;
}

#delete-trash-can {
  display: flex;
}

#delete-trash-can :hover {
  color: rgb(115, 1, 1);
  cursor: pointer;
}
