.order-section-container {
  padding: 16px;
  display: grid;
  overflow-y: auto;
  box-sizing: border-box;
  grid-template-rows: auto auto 10fr auto;
}

.order-title_section {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.order-title_section > p {
  font-size: 28px;
  font-weight: bold;
  align-content: center;
  margin: 0;
}

.order-title_section > span {
  width: 20px;
}

.arrow-div {
  min-height: 20px;
  max-height: 20px;
}

.tables-arrow--true {
  display: block;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.tables-arrow--true:hover {
  transform: scale(1.2);
}

.tables-arrow--false {
  display: none;
}

.order-list-container {
  gap: 2px;
  overflow-y: auto;
}
.order-list {
  scrollbar-width: none;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  box-sizing: border-box;
  gap: 4px;
}
.order-list__item {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  background-color: var(--light-bg-color);
  box-sizing: border-box;
  border-radius: 8px;
}

#delete-trash-can {
  display: flex;
}

#delete-trash-can :hover {
  color: rgb(115, 1, 1);
  cursor: pointer;
}

.fixedHandler {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  background-color: var(--light-bg-color);
  border-radius: 10px;
  bottom: 0;
}

#checkIn-button:hover {
  cursor: pointer;
}
#total-to-pay {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
}
#buttonToPay,
#checkIn-button {
  display: flex;
  font-size: large;
  width: 100%;
  height: 72px;
  padding: 8px;
  background-color: var(--light-bg-color);
  color: var(--font-color);
  border: none;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-top: solid 1px var(--font-color);
  cursor: pointer;
}

#buttonToPay:hover,
#checkIn-button:hover {
  color: var(--dark-bg-color);
  background-color: var(--hover-color);
}
